body {
    font-family: cursive;
}

.main-header,
.footer {
    color: white;
    background: rgb(181, 189, 200);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */
}

.sub-header {
    margin-bottom: 15px;
    color: white;
    background: rgb(181, 189, 200);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 20%, rgba(40, 52, 59, 1) 55%, rgba(40, 52, 59, 1) 60%, rgba(40, 52, 59, 1) 66%, rgba(40, 52, 59, 1) 73%, rgba(40, 52, 59, 1) 80%, rgba(40, 52, 59, 1) 88%, rgba(40, 52, 59, 1) 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 20%, rgba(40, 52, 59, 1) 55%, rgba(40, 52, 59, 1) 60%, rgba(40, 52, 59, 1) 66%, rgba(40, 52, 59, 1) 73%, rgba(40, 52, 59, 1) 80%, rgba(40, 52, 59, 1) 88%, rgba(40, 52, 59, 1) 95%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 20%, rgba(40, 52, 59, 1) 55%, rgba(40, 52, 59, 1) 60%, rgba(40, 52, 59, 1) 66%, rgba(40, 52, 59, 1) 73%, rgba(40, 52, 59, 1) 80%, rgba(40, 52, 59, 1) 88%, rgba(40, 52, 59, 1) 95%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */
}

.footer {
    font-size: 10px;
    text-align: right;
    padding-right: 7px;
}

.list-product-container {
    margin: 0 0 0 20px;
}

.list-item-product {
    text-align: center;
}